@media screen and (min-width: 721px){
    header, main, nav, footer {      /*won't keep stretching on wide screen*/
        max-width: 900px;
        margin: 0 auto;
    }
    header {
            display: grid;
            grid-template-columns: 40px auto;    /*remove the 3rd column, won't show ham btn at all */
            align-items: center;
            padding: 10px;
            gap: 0.75rem;
            font-size: 2rem;
            margin-bottom: 0;
        }

    .hamburger {
        display: none;
    }

    nav {
        width: 100%;
    }
        
       
    

    .navigation {
        margin-left: 320px;     
        display: flex;
        
        margin-top: 0;
        
        padding: 20px;

    }

    .navigation ul {
        display: flex;
    }
    .container {
        display: grid;
        grid-template-columns: 2.5fr 1.5fr;
    }

    .card {
        box-shadow: 1px 1px 10px black;
    }

    .card h2 {
        background-color: var(--primary-color);
        padding: 10px;
        color: white;
        text-align: center;
        margin: 0;
    }

    .card img {
        padding: 20px;
        width: 90%;
        height: auto;
    }

    #filters {
        display: flex;
        justify-content: center;
        padding: 20px;
        gap: 10px;
        border-bottom: 2px solid black;
    }

    #allbtn,
    #wddbtn,
    #csebtn {
        padding: 10px 20px;
        font-size: 1.1rem;
        border-radius: 5px;    
    }

    .class-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;
        padding: 20px;
    }

    #cse110,
    #wdd130,
    #cse111,
    #cse210,
    #wdd131,
    #wdd231 {
        padding: 10px 70px;
        margin: 10px;
        
    }

    .completed {
        padding: 10px 40px;
        background-color: lightgray;
        color: var(--accent-color1);
        font-size: 1.1rem;
        border-radius: 5px;
    }

}
