@media screen and (min-width: 401px){
    
    nav {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        background-color: var(--secondary-color);
        padding: 25px;

    }

    .container {
        display: grid;
        grid-template-columns: 2.5fr 1.5fr;
    }

    

    .card h2 {
        background-color: var(--primary-color);
        padding: 10px;
        color: white;
        text-align: center;
        margin: 0;
    }

    .card img {
        padding: 20px;
        width: 90%;
        height: auto;
    }

    #filters {
        display: flex;
        justify-content: center;
        padding: 20px;
        gap: 10px;
        border-bottom: 2px solid black;
    }

    #allbtn,
    #wddbtn,
    #csebtn {
        padding: 10px;
        background-color: var(--accent-color1);
        color: white;
        font-size: 1.1rem;
        border-radius: 5px;    
    }

    #class-container {
        display: flex;
        flex-wrap:wrap;
        justify-content: space-around;
        padding: 20px;
    }

    #cse110,
    #wdd130,
    #cse111,
    #cse210,
    #wdd131,
    #wdd231 {
        padding: 10px 40px;
        background-color: var(--accent-color2);
        color: white;
        font-size: 1.1rem;
        border-radius: 5px;
    }

    .completed {
        padding: 10px 40px;
        background-color: lightgray;
        color: var(--accent-color1);
        font-size: 1.1rem;
        border-radius: 5px;
    }

}
